
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 233 14% 12%; /* #1C1D21 */
    --foreground: 45 44% 87%; /* #EBE5D0 */
    --card: 232 14% 21%; /* #2E303F */
    --card-foreground: 45 44% 87%; /* #EBE5D0 */
    --popover: 232 14% 21%; /* #2E303F */
    --popover-foreground: 45 44% 87%; /* #EBE5D0 */
    --primary: 176 21% 47%; /* #63938C */
    --primary-foreground: 233 14% 12%; /* #1C1D21 */
    --secondary: 45 44% 87%; /* #EBE5D0 */
    --secondary-foreground: 233 14% 12%; /* #1C1D21 */
    --muted: 232 14% 21%; /* #2E303F */
    --muted-foreground: 176 21% 67%; /* a lighter green/gray */
    --accent: 176 21% 47%; /* #63938C */
    --accent-foreground: 45 44% 87%; /* #EBE5D0 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 14% 25%; /* a slightly lighter granite */
    --input: 232 14% 25%;
    --ring: 176 21% 47%; /* #63938C */
    --chart-1: 176 21% 47%; /* #63938C */
    --chart-2: 45 44% 87%; /* #EBE5D0 */
    --chart-3: 176 21% 67%;
    --chart-4: 232 14% 50%;
    --chart-5: 30 50% 55%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 233 14% 12%; /* #1C1D21 */
    --foreground: 45 44% 87%; /* #EBE5D0 */
    --card: 232 14% 21%; /* #2E303F */
    --card-foreground: 45 44% 87%; /* #EBE5D0 */
    --popover: 232 14% 21%; /* #2E303F */
    --popover-foreground: 45 44% 87%; /* #EBE5D0 */
    --primary: 176 21% 47%; /* #63938C */
    --primary-foreground: 233 14% 12%; /* #1C1D21 */
    --secondary: 45 44% 87%; /* #EBE5D0 */
    --secondary-foreground: 233 14% 12%; /* #1C1D21 */
    --muted: 232 14% 25%;
    --muted-foreground: 176 21% 67%;
    --accent: 176 21% 47%; /* #63938C */
    --accent-foreground: 45 44% 87%; /* #EBE5D0 */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 14% 25%;
    --input: 232 14% 25%;
    --ring: 176 21% 47%;
    --chart-1: 176 21% 47%;
    --chart-2: 45 44% 87%;
    --chart-3: 176 21% 67%;
    --chart-4: 232 14% 50%;
    --chart-5: 30 50% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @keyframes card-in {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes text-in {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
