
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 47 44% 87%;
    --foreground: 228 12% 15%;
    --card: 47 44% 92%;
    --card-foreground: 228 12% 15%;
    --popover: 47 44% 92%;
    --popover-foreground: 228 12% 15%;
    --primary: 228 12% 21%;
    --primary-foreground: 47 44% 95%;
    --secondary: 170 20% 68%;
    --secondary-foreground: 228 12% 10%;
    --muted: 47 20% 83%;
    --muted-foreground: 228 5% 45%;
    --accent: 170 20% 48%;
    --accent-foreground: 47 44% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 20% 80%;
    --input: 47 20% 80%;
    --ring: 170 20% 48%;
    --chart-1: 228 12% 21%;
    --chart-2: 170 20% 48%;
    --chart-3: 47 30% 65%;
    --chart-4: 220 15% 40%;
    --chart-5: 30 50% 55%;
    --radius: 0.5rem;
    --sidebar-background: 228 12% 18%;
    --sidebar-foreground: 47 44% 80%;
    --sidebar-primary: 170 20% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 12% 25%;
    --sidebar-accent-foreground: 47 44% 95%;
    --sidebar-border: 228 12% 25%;
    --sidebar-ring: 170 20% 48%;
  }
  .dark {
    --background: 228 12% 10%;
    --foreground: 47 44% 87%;
    --card: 228 12% 15%;
    --card-foreground: 47 44% 87%;
    --popover: 228 12% 15%;
    --popover-foreground: 47 44% 87%;
    --primary: 47 44% 87%;
    --primary-foreground: 228 12% 15%;
    --secondary: 170 20% 28%;
    --secondary-foreground: 47 44% 95%;
    --muted: 228 12% 20%;
    --muted-foreground: 47 20% 65%;
    --accent: 170 20% 48%;
    --accent-foreground: 47 44% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 12% 25%;
    --input: 228 12% 25%;
    --ring: 170 20% 48%;
    --chart-1: 47 44% 87%;
    --chart-2: 170 20% 48%;
    --chart-3: 47 30% 65%;
    --chart-4: 220 15% 70%;
    --chart-5: 30 50% 55%;
    --sidebar-background: 228 12% 10%;
    --sidebar-foreground: 47 44% 80%;
    --sidebar-primary: 170 20% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 12% 20%;
    --sidebar-accent-foreground: 47 44% 95%;
    --sidebar-border: 228 12% 20%;
    --sidebar-ring: 170 20% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
